Screen {
    overflow-y: hidden;
}

HeaderContainer {
    layout: horizontal;
    height: 4;
    background: $surface;
}

#bin_date {
    padding: 0 2;
    width: 1fr;
}

#bin_clock {
    padding: 0 2;
    width: 1fr;
    content-align: right middle;
}

#bushido_img {
    width: 8;
    height: 4;
    padding: 0 2;
    content-align: center middle;
}

LogUnitScreen {
    align: center middle;
}

UnitHelpWidget {
    height: 2fr;
}

#text_input {
    height: 3;
}