<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bushido</title>
    <link rel="stylesheet" href="/static/styles/main.css">
</head>
<body>
    <h1>Bushido</h1>
    <h2>Units</h2>
    <label>Log Unit</label>
    <input></input>
    <button class="bushido-button" id="log-unit" onclick="logUnit()">Submit</button>
<script>
    function logUnit() {
        fetch("/log_unit", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({ "yo": "sup"})
        })

    }

</script>
</body>
</html>
